.bonusBgnd {
  background-image: url("../assets/gameBgnd.jpg");
  width: 600px;
  height: 600px;
  border-radius: 20px;
}

.enemyImage {
  margin: 12px;
  animation-name: motionEnemieMove;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bonusText {
  display: none;
  position: relative;
  background-color: #132033;
  bottom: 240px;
  color: #ffe9d2;
  font-size: 56px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
  text-transform: uppercase;
}
.showBonusText {
  display: block;
}
.emptyBox {
  margin: 12px;
  width: 100px;
  height: 100px;
}

.player {
  background-image: url("../assets/playerFrame1.png");
  width: 100px;
  height: 100px;
  position: relative;
  left: 250px;
  bottom: -110px;
}
.playerMoveToShoot {
  animation-name: motionPlayerMove;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes motionEnemieMove {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-5px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(5px, 0px);
  }
  0% {
    transform: translate(0px, 0px);
  }
}

@keyframes motionPlayerMove {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-190px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(190px, 0px);
  }
  0% {
    transform: translate(0px, 0px);
  }
}
